/* Colors in Palette (Parrot Green)
Color	Hex	RGB
#234d20	(35,77,32)
#36802d	(54,128,45)
#77ab59	(119,171,89)
#c9df8a	(201,223,138)
#f0f7da	(240,247,218)
*/

body {
  background-color: #f0f7da;
  height: 90vh;
  display: flex;
  flex-direction: column; 
}

header {
  padding: 10px;
}

main {
  flex: 1;
  display: flex;
}

nav {
  padding: 10px;
  overflow: hidden;
  background-color: #77ab59;
  border-radius: 10px;
}

nav a {
  float: left;
  color: #f0f7da;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
}

nav a:hover {
  background-color: #36802d;
  color: #f0f7da;
}

nav a.active {
  background-color: #234d20;
  color: #f0f7da;
}

section {
  flex: 1; 
  display: block;
  justify-content: center; 
  align-items: center;
  font-size: 1.5rem;
  border-style: solid;
  border-color: #234d20;
  border-radius: 2%;
}

.left {
  flex: 0 0 300px; 
}

footer {
  text-align: center;
  border-style: none;
  border-color: #234d20;
  border-radius: 10px;
  height: 25px; 
  background-color: #77ab59;
  padding: 10px;
}

h1 {
  color: #234d20;
}

h2 {
  color: #36802d;
}

h3 {
  color: #77ab59;
}

p {
  color: #234d20;
}

a {
  color: #234d20; 
}

button {
  background-color: #77ab59;
  color: #f0f7da;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #234d20;
}

ul {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}

li {
  color: black;
  border-radius: 10px;
  cursor: pointer;
}

li.selected {
    background-color: #234d20;
    color: white;
    font-weight: bold;
}

li:hover {
  background-color: #36802d;
  color: #f0f7da;
}

.video-library {
    max-height: 300px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.video-player  {
  text-align: center;
}

.form-group {
  display: flex;
  align-items: center;
  margin: 10px;
}

.form-group label {
  width: 150px;
  text-align: left;
}

.form-group input, select {
  flex: 1; 
  padding: 5px;
}